<h2>Register</h2>
<form action="/register">

  {{#errors}}
    <div class="error">
      {{ msg }}
    </div>
  {{/errors}}

  <label class="block">
    Email:
    <input type="type" name="email" value="{{ email }}" />
  </label>

  <label class="block">
    Password:
    <input type="password" name="password" />
  </label>

  <label class="block">
    First Name:
    <input type="text" name="first_name" value="{{ first_name }}" />
  </label>

  <label class="block">
    Date of Birth:

    <select name="date_of_birth[month]">
      {{#date_of_birth_month_options}}
      <option value="{{ value }}"{{#selected}} selected="selected"{{/selected}}>{{ text }}</option>
      {{/date_of_birth_month_options}}
    </select>

    <select name="date_of_birth[day]">
      {{#date_of_birth_day_options}}
      <option value="{{ value }}"{{#selected}} selected="selected"{{/selected}}>{{ text }}</option>
      {{/date_of_birth_day_options}}
    </select>

    <select name="date_of_birth[year]">
      {{#date_of_birth_year_options}}
      <option value="{{ value }}"{{#selected}} selected="selected"{{/selected}}>{{ text }}</option>
      {{/date_of_birth_year_options}}
    </select>
  </label>

  <button type="submit" class="btn btn-primary">Log In</button>
</form>
